[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "==0.9.50"
pyperclip = "*"
opencv-python = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.7.11"
